*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}


.header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding: 1.3rem 5%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}
.logo{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700 ;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 2.5rem;
}






.navbar a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}


.navbar::after{
  
  
  width: 0;
  background: rgb(146, 8, 8) ; 
}

.navbar a:hover{
    color: rgb(146, 8, 8) ;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

.container{
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(image20.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info{
    color: white;
    max-width: 500px;
    line-height: 65px;
    padding-left: 40px;
    font-size: 18px;
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}

.contact-form{
  max-width: 700px;
  margin-right: 50px;
}

.contact-info, .contact-form{
    flex: 1;
}

.contact-form h2{
    color: white;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box{
    background: #000;
    color: white;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background: #000;
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn{
    float: right;
    background: rgba(255,255,255,0.10);
    color: whitesmoke;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover{
    background: linear-gradient(90deg,#08ff08, #50e3fc, #bc13fe, #03a9f4, #0ff0fc );
    background-size: 500%;
    z-index: 1;
    animation: blink 7s linear infinite;
}

@keyframes blink{
    from{
        background-position: 0%;
    }
    to{
        background-position: 500%;
    }
}

.contact-form .send-btn::after{
    content: "";
    position: absolute;
    left:-10px;
    right: -10px;
    top:-10px;
    bottom: -10px;
    background: inherit;
    border-radius: 40px;
    filter: blur(50px);
    opacity: 0;
}

.contact-form .send-btn:hover::after{
    opacity: 1;
    z-index: -1;
}

.navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
  }
  .navigation a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 6vmax;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 2rem;
    margin: 1rem auto;
  }
  .navigation a:hover {
    background-color: #252525;
    color: #fdfdfd;
  }
  .navigation a.active {
    background-color: #252525;
    color: #fdfdfd;
  }
  
  .loader {
    position: fixed;
    inset: 0;
    z-index: 5;
    background-color: white;
    transform: translatex(0%);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1) 0.2s;
    will-change: transform;
  }
  
  .a,
  .b,
  .c {
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 0.5s;
    transition-delay: -0.1s;
    transition-timing-function: ease-in-out;
    height: 100%;
  }
  
  .ac {
    margin: auto;
  }
  
  [data-route=c] .c, [data-route=b] .b, [data-route=a] .a {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 0.5s ease-in 0.6s;
  }
  
  .disable-hover,
  .disable-hover * {
    pointer-events: none !important;
    cursor: none;
    cursor: wait;
  }

@media (max-width: 1145px) {
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    

    .icons #close-icon{
        display: none;

    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height:  0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease ;
    }

    #check:checked~.navbar{
        height: 12rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
}
#check:checked~.navbar a{
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
}
.content h1{
    font-size: 50px;
}
.content p{
    font-size: 12px;
}
}

@media screen and (max-width: 950px){
    .contact-section{
        flex-direction: column;
    }

    .contact-info {
        margin-top: 100px ;
    }

    .contact-form{
        margin: 30px;
    }

    .contact-form h2{
        font-size: 30px;
    }

    .contact-form .text-box{
        width: 100%;
    }
}

.alert-success{
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 85px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
}

.alert-error{
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 85px;
    border-left: 8px solid #FFA502;
    border-radius: 4px;
}
footer {
    position: relative;
    height: 9px;
    width: 100%;   
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #ffffff;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    background-color: #c1c1c1;
}

@media only screen and (-webkit-min-device-pixel-ratio:3){
    .navbar{
        -webkit-backdrop-filter: blur(50px);
    }

    .header{
        -webkit-backdrop-filter: blur(50px);
    } 
}

@media (max-width: 370px) {
    .footerP{
      font-size: 15px;
    }
  }
  .footer{
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 2%;
}
  