*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-psadding, 5rem);
}

.primary-navigation {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.5rem;
    background: var(--clr-primary-400);
  }

.banner{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(image15.jpg);
    background-position: center;
    background-size: cover;

    animation: fade-in 0.5s;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding: 1.3rem 5%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.434);
    backdrop-filter: blur(50px);
    z-index: -1;
}
.logo{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700 ;
}
.navbar a{
    
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 2.5rem;
}






.navbar a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
    transition: 0.4s ease-in-out;
}







.navbar a:hover{
    color: rgb(146, 8, 8) ;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}


.content1{
    display: block;
    width: 100%;  
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
  }

  .content2{
    display: none;
    width: 100%;  
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
  }  
  .content3{
    display: none;
    width: 100%;  
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
  }  

  .content1 h1{
      font-size: 70px;
      margin-top: 80px;
  }
  .content2 h1{
    font-size: 70px;
    margin-top: 80px;
}

.content3 h1{
    font-size: 70px;
    margin-top: 80px;
}


  
  button{
      width: 200px;
      padding: 15px 0;
      text-align: center;
      margin: 20px 10px;
      border-radius: 25px;
      font-weight: bold;
      border:2px solid rgb(146, 8, 8);
      background: transparent;
      color: #fff;
      cursor: pointer;
      position: relative;
      overflow: hidden;
  
  }
  
  span{
    background: rgb(146, 8, 8);
    height: 100%;
    width: 0;
    border-radius: 25px; 
    position: absolute;
    left: 0;
    bottom: 0; 
    z-index: -1;
    transition: 0.5s;
  }
  button:hover span{
      width : 100%;
  }
  button:hover{
      border: none;
      
  }
  
 .subjects{
    width: 100%;
    margin: auto;
    text-align: center;
    
 } 
 
 .row{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }
 .subjects-col{
    flex-basis: 31%;
    
 }
 .box{
    display: flex;
    justify-content: center;
    align-items: center;
}


.sujectcard{
    height: 260px;
    width: 375px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15PX;
    position: relative;
    overflow: hidden;
    text-align: center;
}





h2{
    padding-top: 50px;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: rgb(185, 182, 182);
    font-size: 16px;
    line-height: 27px;
    margin: 20px 15px;
}
.sujectcard .subjectbutton{
    
    position: relative;
    color: white;
    text-align: center;
    width: 100px ;
    padding: 9px 30px;
    font-weight: bold;
    font-family: poppins;
    border: 2px solid white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
    text-decoration: none;


}

.sujectcard .subjectbutton:hover{
    box-shadow: 0 5px 50px 0 white inset, 0 5px 50px 0 white;
    cursor: pointer;
}
 
.column{
    display: grid;
    place-items: center;
}

.single-column{
    display: flex;
    
}

.finace-column1{
    display: grid;
    place-items: center;
}
.finace-column2{
    display: none;
    place-items: center;
}

.other-column1{
    display: grid;
    place-items: center;
}

.other-column2{
    display: none;
    place-items: center;
}

.boxholder{
    display: grid;
    place-items: center;
}

.columnbox{
    display: flex;
}

.navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
  }
  .navigation a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 6vmax;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 2rem;
    margin: 1rem auto;
  }
  .navigation a:hover {
    background-color: #252525;
    color: #fdfdfd;
  }
  .navigation a.active {
    background-color: #252525;
    color: #fdfdfd;
  }
  
 
  
  .loader {
    position: fixed;
    inset: 0;
    z-index: 5;
    background-color: white;
    transform: translatex(0%);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1) 0.2s;
    will-change: transform;
  }
  
  .a,
  .b,
  .c {
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 0.5s;
    transition-delay: -0.1s;
    transition-timing-function: ease-in-out;
    height: 100%;
  }
  
  .ac {
    margin: auto;
  }
  
  [data-route=c] .c, [data-route=b] .b, [data-route=a] .a {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 0.5s ease-in 0.7s;
  }
  
  
  footer {
    position: relative;
    height: 9px;
    width: 100%;
    
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #000000;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    background-color: #ffffff;
}
  

@media (max-width:1635px){
    .sujectcard{
        height: 250px;
        width: 345px;
        padding: 20px 5px;
    }
}

@media (max-width:1530px){
    .columnbox{
        display: inline;
    }
}
  
@media (max-width: 1145px) {
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    

    .icons #close-icon{
        display: none;

    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height:  0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease ;
    }

    #check:checked~.navbar{
        height: 12rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
}
#check:checked~.navbar a{
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
}

}

@media (max-width: 1130px) {
    .content1 h1{
        font-size: 60px;
        margin-top: 80px;
    }
    .content2 h1{
        font-size: 60px;
        margin-top: 80px;
    }
  
    
    button{
        width: 170px;
    }

    .finace-column1{
        display: none;
    }
    .finace-column2{
        display: grid;
    }

    .other-column1{
        display: none;
    }
    
    .other-column2{
        display: grid;
    }
}

@media (max-width: 970px) {
    .content1{
        display: none;
      }
    
      .content2{
        display: block;
      }  
      .content2 h1{
        font-size: 40px;
        margin-top: 80px;
    }  

      
}

@media (max-width: 740px) {
    .sujectcard{
        height: 240px;
        width: 335px;
        padding: 20px 5px;
    }
    
    .box{
        display: inline;
    }
    .single-column{
        display: grid;
    }
}



@media (max-width: 580px){
    .content2{
        display: none;
      }
    
      .content3{
        display: block;
      }  

      .content3 h1{
        font-size: 40px;
        margin-top: 80px;
    }  
}

@media (max-width: 390px){
    button{
        width: 150px;
    }

    



    .sujectcard{
        height: 240px;
        width: 315px;
        padding: 20px 5px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:3){
    .navbar{
        -webkit-backdrop-filter: blur(50px);
    }

    .header{
        -webkit-backdrop-filter: blur(50px);
    } 
}
@media (max-width: 375px) {
    .footerP{
      font-size: 13px;
    }
  }